<% if logged_in? %>
  <% provide(:title, @user.email) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>Hello, </h1>
        <h3 style="color: blue">
          <%= @user.email %>
        </h3>
      </section>
    </aside>

  </div>
  <% @user ||= current_user %>
    <div class="stats">
      <a href="<%= following_user_path(@user) %>">
        <strong id="following" class="stat">
          <%= @user.following.count %>
        </strong>
        following
      </a> |
      <a href="<%= followers_user_path(@user) %>">
        <strong id="followers" class="stat">
          <%= @user.followers.count %>
        </strong>
        followers
      </a>
    </div>
  <div class="col-md-8">
    <%= render "follow_form" if logged_in? %>
    <h5>Post</h5>
    <% @entries.each do |entry| %>
      <ol class="entries">
        <div>
          <%= link_to entry.title, entry, class: "entry" %> - Created at <%= entry.created_at %>
        </div>
        <br/>
        <div class="entry-body">
          <%= entry.body %>
        </div>

        <div class="comment-body">

          <%= render partial: "comment", collection: entry.comments, as: :c %>
        </div>
        <div style="">
          <%= form_for [entry,@comment] do |f| %>
           <div class="field">
            <%= f.text_area :body, size: "50x1" %>
           </div>
           <div class="actions">
            <%= f.submit "Comment" %>
           </div>
          <% end %>
        </div>
        <p style="float:right"><%= link_to "Comment", new_entry_comment_path(entry) %></p>
      </ol>
    <% end %>
  </div>
  <div style="float:right"><%= link_to "Post something", new_entry_path %></div>>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Log out', logout_path, method: "delete" %> |
  <%= link_to 'Profile', users_path(current_user) %> |
  <%= link_to 'All Users', users_path %>
<% else %>
  Please log in <%= link_to "Login", login_path %><br/>
  or <%= link_to "Sign_up", new_user_path %>
<% end %>