<% @categories.each do |c| %>
  <p>
    <strong>Category : <%= c.c_name %></strong>
    <br/>
    <% c.questions.each do |q| %>
      -  <strong>Question : <%= q.q_name %></strong>
      <% q.options.each_with_index do |o, index| %>
        <p>
          <%= index + 1 %> : <%= o.body %>
          <% if o.answer == true  %>
            right answer
          <% end %>
        </p>
      <% end %>
    <% end %>
  </p>
<% end %>
<%= link_to "New Category", new_admin_category_path %>